name: "Build&Deploy docker images"
on:
  push:
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - main
      - dev
  release:
    types: [released]

jobs:
  build-and-deploy:
    uses: MOV-AI/.github/.github/workflows/docker-workflow.yml@v3
    with:
      manifest_file: images-manifest.yml
      deploy: ${{ contains(github.ref, 'refs/heads/main') || contains(github.ref, 'refs/tags/v')}}
      version: auto
      push_latest: ${{ contains(github.ref, 'refs/heads/main') || contains(github.ref, 'refs/tags/v') }}
    secrets:
      registry_user: ${{ secrets.PORTUS_APP_USER }}
      registry_password: ${{ secrets.PORTUS_APP_TOKEN }}
      pub_registry_user: ${{ secrets.PORTUS_APP_USER }}
      pub_registry_password: ${{ secrets.PORTUS_APP_TOKEN }}
      github_registry_user: ${{ secrets.RAISE_BOT_COMMIT_USER }}
      github_registry_password: ${{ secrets.RAISE_BOT_COMMIT_PASSWORD }}
      snyk_token: ${{ secrets.SNYK_TOKEN }}
      commit_user: ${{ secrets.RAISE_BOT_COMMIT_USER }}
      commit_mail: ${{ secrets.RAISE_BOT_COMMIT_USER }}
      commit_token: ${{ secrets.RAISE_BOT_COMMIT_PASSWORD }}
